.notification-message {
	padding: 1rem;
	h2 {
		margin: 0;
		font-size: 1.75rem;
		font-weight: 600;
		line-height: 2;
		color: white;
	}
	p {
		font-size: 1.1rem;
		font-weight: 100;
		color: white;
		line-height: 2;
		margin-bottom: 2rem;
	}
	.actions {
		display: flex;
		justify-content: space-between;
	}
}