<div class="search">
    <button>New Advisor</button>
    <div class="input-box">
        <label>Search:</label>
        <input type="text">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Health</th>
            <th>Name</th>
            <th>SIN</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Green</td>
            <td>Lucas</td>
            <td>123456</td>
            <td>99999</td>
            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
        <tr>
            <td>Green</td>
            <td>Lucas</td>
            <td>123456</td>
            <td>99999</td>
            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
        <tr>
            <td>Green</td>
            <td>Lucas</td>
            <td>123456</td>
            <td>99999</td>
            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
    </tbody>
</table>
