html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Poppins, "Helvetica Neue", sans-serif;
    background-color: $dark-bg;
}

h1 {
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 4rem !important;
}

.container {
    color: $primary-font-color;
}

mat-card {
    width: 80%;
    max-width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
    margin-top: 5rem;
}

mat-form-field {
    width: 100%;
}

.input-box {
    width: 500px;
}

.btn-box {
    display: flex;
    justify-content: flex-end;

    button {
        &:first-child {
            margin-right: 15px;
        }

        width: 100%;
    }
}

a.link {
    color: $primary-font-color;

    &:hover {
        text-decoration: none;
    }

    &:link,
    &:visited {
        color: $primary-font-color;
    }
}

.text-center {
    text-align: center !important;
}