@media screen and (max-width: 660px) {
    .input-box {
        width: 350px;
    }
}
@media screen and (max-width: 480px) {
    .input-box {
        width: 300px;
    }
}
@media screen and (max-width: 375px) {
    .input-box {
        width: 250px;
    }
}