<mat-card>
    <h1>{{ pageTitle }}</h1>
    <form [formGroup]="advisorForm" (ngSubmit)="submit()" #formDit="ngForm" >
        <div class="input-box">
            <mat-form-field>
                <mat-label>Name:</mat-label>
                <input matInput type="text" formControlName="name" required>
            </mat-form-field>
        </div>
        <div class="input-box">
            <mat-form-field>
                <mat-label>SIN:</mat-label>
                <input matInput type="text" formControlName="sinNumber" required>
            </mat-form-field>
        </div>
        <div class="input-box">
            <mat-form-field>
                <mat-label>Address:</mat-label>
                <input matInput type="text" formControlName="address">
            </mat-form-field>
        </div>
        <div class="input-box">
            <mat-form-field>
                <mat-label>Phone Number:</mat-label>
                <input matInput type="text" formControlName="phone">
            </mat-form-field>
        </div>
        <div class="btn-box">
            <button type="submit" [disabled]="!advisorForm.valid" mat-raised-button color="accent">Save</button>
            <button type="button" routerLink="" mat-raised-button>Cancel</button>
        </div>
    </form>
</mat-card>
