<mat-card>
    <h1>{{ pageTitle }}</h1>
    <form [formGroup]="advisorForm" (ngSubmit)="submit()" #formDit="ngForm" novalidate>
        <div class="input-box">
            <mat-form-field>
                <mat-label>Name:</mat-label>
                <input id="name" matInput type="text" formControlName="name" required>
                <mat-error *ngIf="advisorForm.get('name')?.hasError('required')">
                    Name is required
                </mat-error>
                <mat-error *ngIf="advisorForm.get('name')?.hasError('maxlength')">
                    Name must be less than 255 characters
                </mat-error>
            </mat-form-field>
        </div>
        <div class="input-box">
            <mat-form-field>
                <mat-label>SIN:</mat-label>
                <input matInput type="text" formControlName="sinNumber" pattern="^\d{9}$" mask="000-000-000" required>
                <mat-error *ngIf="advisorForm.get('sinNumber')?.hasError('required')">
                    SIN number is required
                </mat-error>
                <mat-error *ngIf="advisorForm.get('sinNumber')?.hasError('pattern')">
                    Please enter a valid SIN number (###-###-###)
                </mat-error>
            </mat-form-field>
        </div>
        <div class="input-box">
            <mat-form-field>
                <mat-label>Address:</mat-label>
                <input matInput type="text" formControlName="address">
                <mat-error *ngIf="advisorForm.get('sinNumber')?.hasError('maxlength')">
                    Address must be less than 255 characters
                </mat-error>
            </mat-form-field>
        </div>
        <div class="input-box">
            <mat-form-field>
                <mat-label>Phone Number:</mat-label>
                <input matInput type="text" formControlName="phone" pattern="^\d{8}$" mask="0000-0000">
                <mat-error *ngIf="advisorForm.get('phone')?.hasError('pattern')">
                    Please enter a valid Phone number (####-####)
                </mat-error>
            </mat-form-field>
        </div>
        <div class="btn-box">
            <button type="submit" [disabled]="!advisorForm.valid" mat-raised-button color="accent">Save</button>
            <button type="button" routerLink="" mat-raised-button>Cancel</button>
        </div>
    </form>
</mat-card>